body {
  background-color: #dfe2e2;
  font-family: arial, sans-serif;
  color: #3c415e;
  line-height: 125%;
}

#profile_picture {
  border-radius: 50%;
  border: 2px solid #00204a;
  width: 50%;
  max-width: 200px;
}

h1 {
  color: #00204a;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 150%;
}

h2, h3 {
  color: #313E89;
  font-family: 'Open sans', sans-serif;
  font-weight: 700;
}

.centered {
  text-align: center;
}

/*VIEW RULES************/
@media (min-width: 720px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
    margin: 0 auto;
  }
  .inline-list > li {
    font-size: 50px;
  }
  #sidebar {
    width: 60px;
  }
  #sidebar > ul > li > a {
    font-size: 36px;
  }
  #sidebar > ul > li {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
    margin: 0 auto;
  }
  .inline-list > li {
    font-size: 50px;
  }
  #sidebar {
    width: 60px;
  }
  #sidebar > ul > li > a {
    font-size: 36px;
  }
  #sidebar > ul > li {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 350px;
    margin: 0 auto;
  }

  .inline-list > li {
    font-size: 35px;
  }
  .movies > table > tbody > tr > td > img {
    width: 100px;
  }

  #sidebar {
    width: 45px;
  }
  #sidebar > ul > li > a {
    font-size: 22px;
  }
  #sidebar > ul > li {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

.card {
  margin-top: 30px;
  display: block;
  background: white;
  border-radius: 5px;
  padding: 40px;
  box-shadow: 5px 5px 10px grey;
}
/*************************/



/*BUTONS******************/
a {
  color: #1cb3c8;
  text-decoration: none;
}

a:hover {
  color: red;
}

.see_yourself {
  margin-top: 50px;
}

.btn {
  background-color: #313E89;
  padding: 20px;
  border-radius: 5px;
  color: white;
  box-shadow: 2px 2px 2px grey;
}

.btn:hover {
  background-color: #1cb3c8;
  color: #00204a;
}
ul {
  padding: 0;
}
.inline-list > li {
  display: inline-block;
  list-style-type: none;
  margin: 0px 10px 0px 10px;
}
.reversed-color-link {
  color: #313E89;
}
.reversed-color-link:hover {
  color: #1cb3c8;
}
/*************************/


/*MOVIES CARD*************/
.movies > table > tbody > tr > td > img {
  box-shadow: 2px 2px 5px grey;
  margin: 20px;

}
.movies > table > tbody > tr > td > p, h3 {
  text-align: left;
}
.movies > table > tbody > tr > td > h3 {
  text-decoration: underline;
}
.movies > table > tbody > tr > td  {
   vertical-align: top;
   min-width: 60px;
}
/*************************/




/*FOOTER******************/
.footer-btn > li > a{
  font-size: 60%;
/*  color: #3c415e;*/
}
/*************************/




/* FIXED SIDEBAR**********/
#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #3c415e;
}
#page-content {
  margin-left: 50px;
}

#sidebar > ul > li > a {
  color: #738598;
}

#sidebar > ul > li > a:hover {
  color: #DFE2E2;
}

/*************************/



